<div class="container animate__animated animate__fadeIn">
    <div class="row d-flex justify-content-between my-5">
        <div class="row d-flex col-md-6 my-auto">
            <div class=" col-12">
                <div class="container">
                    <h1 class="text-info fs-1 fw-bold">About Me..</h1>
                    <p class="fs-6 fw-bold text-secondary font-monospace">
                        Hello, I'm so glad you're here!
                        My name is Muhammad Taha, I am 25 years old
                        From Cairo. I have a strong passion for front-end related technologies.
                        Professional front-end developer with 2 years of experience in responsive web design and
                        creation.
                        Proficient in Angular frameworks.
                        Passionate about learning and development with a desire to apply skills to a larger development
                        team. Keen to tackle the most complex problems and continue to find ways to maximize user
                        efficiency
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <img class="ms-3" style="max-width: 90%;" src="assets/images/about2.png" alt="">
        </div>
    </div>

    <div class="container text-center  my-5">
        <h1 class="text-info fs-1 fw-bold">skills</h1>
        <p class="text-secondary fs-6 fw-bold mb-5">Some of the technical skills I possess</p>
        <span class="fs-6 fw-bold text-secondary font-monospace">
            <div class="row d-flex skills">
                <span class="col-2 m-3">HTML</span>
                <span class="col-2 m-3">HTML 5</span>
                <span class="col-2 m-3">CSS</span>
                <span class="col-2 m-3">CSS 3</span>
                <span class="col-2 m-3">BOOTSTRAB</span>
                <span class="col-2 m-3">JAVA SCRIPT</span>
                <span class="col-2 m-3">ECMA 6</span>
                <span class="col-2 m-3">TYPE SCRIPT</span>
                <span class="col-2 m-3">ANGUALR FRAMEWORK</span>
                <span class="col-2 m-3">PRIME NG</span>
                <span class="col-2 m-3">ANGUALR</span>
            </div>
        </span>
    </div>
</div>