<div class="container animate__animated animate__fadeIn">
    <div class="row d-flex justify-content-between my-5">
        <div class="row d-flex col-md-6 my-auto">
            <div class=" col-12">
                <div class="container">
                    <h1 class="text-info fs-1 fw-bold mb-4">About Me..</h1>
                    <span class="fs-5 text-dark">
                        Hello, I'm so glad you're here! <br>
                        My name is Muhammad Taha, I am 25 years old
                        From Cairo. <br>I have a strong passion for front-end related technologies. <br>
                        Professional front-end developer with 2 years of experience in responsive web design and
                        creation.
                        Proficient in Angular frameworks. <br>
                        Passionate about learning and development with a desire to apply skills to a larger development
                        team. <br>Keen to tackle the most complex problems and continue to find ways to maximize user
                        efficiency.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <img class="ms-3" style="max-width: 90%;" src="assets/images/about2.png" alt="">
        </div>
    </div>

    <div class="container text-center  my-5">
        <h1 class="text-info fs-1 fw-bold">skills</h1>
        <p class="text-secondary fs-6 fw-bold mb-5">Some of the technical skills I possess</p>
        <span class="fs-6 fw-bold text-secondary font-monospace">
            <div class="row d-flex justify-content-between skills">
                <span class="col-lg-2 col-md-3 col-sm-4 col-5 m-2"><img src="assets/images/html.png" alt="HTML"></span>
                <span class="col-lg-2 col-md-3 col-sm-4 col-5 m-2"><img src="assets/images/html5.png"
                        alt="HTML5"></span>
                <span class="col-lg-2 col-md-3 col-sm-4 col-5 m-2"><img src="assets/images/css3.png" alt="CSS"></span>
                <span class="col-lg-2 col-md-3 col-sm-4 col-5 m-2"><img src="assets/images/javascript.png"
                        alt="JAVASCRIPT"></span>
                <span class="col-lg-2 col-md-3 col-sm-4 col-5 m-2"><img src="assets/images/ecma6.png"
                        alt="ECMA6"></span>
                <span class="col-lg-2 col-md-3 col-sm-4 col-5 m-2"><img src="assets/images/Typescript.png"
                        alt="Typescript"></span>
                <span class="col-lg-2 col-md-3 col-sm-4 col-5 m-2"><img src="assets/images/bootstrap.png"
                        alt="Bootstrab"></span>
                <span class="col-lg-2 col-md-3 col-sm-4 col-5 m-2"><img src="assets/images/primeng.png"
                        alt="primeng"></span>
                <span class="col-lg-2 col-md-3 col-sm-4 col-5 m-2"><img src="assets/images/angular.png"
                        alt="angular"></span>
            </div>
        </span>
    </div>
</div>