.main {
    width: 300px;
}

div {
    a {
        cursor: pointer;
    }
}

@media only screen and (max-width: 767px) {
    .main {
        margin: auto;
        background-color: azure;
        padding: 5px;
        margin: 10px auto;
        border-radius: 25px;
        width: 95%;
        transition: all .5s ease-in-out;
    }
}



// .image-info {
//     text-align: center;
//     margin-bottom: -10%;

//     img {
//         position: relative;
//         top: -35%;
//         max-width: 40%;
//         border-radius: 12px;

//     }
// }

// .title-info {
//     text-align: center;

//     h5 {
//         opacity: .5;
//     }
// }

// .icons-info {
//     a {
//         i {
//             cursor: pointer;
//             font-size: 25px;
//         }
//     }
// }

// .contact-sec {
//     width: 97%;
//     background-color: #f2f5f9;
//     margin: 15px auto;
//     padding: 10px;
//     border-radius: 20px;

//     div {
//         .icon-info {
//             margin: 0 20px;


//         }
//     }

//     h5 {
//         margin: 1px;
//     }

//     a {
//         margin: -9px;
//         cursor: pointer;
//     }

//     hr {
//         width: inherit;
//     }

//     .btn-contain {
//         text-align: center;
//     }

//     button {
//         background-color: #fe9419;
//         border-radius: 25px;
//     }
// }