<div class="main text-center">
    <div class="row">
        <div class="col-md-12 title-info py-3">
            <h2 class="text-info">Mohamed Taha</h2>
            <p class="text-secondary">Front-End Developer & Ui/Ux designer</p>
        </div>
    </div>
    <div class="icons-info row justify-content-center">
        <a class="col-2"
            (click)="goToLink('https://web.facebook.com/people/MohaMmed-TaHa/pfbid0ZFfZQvcxgyQCwJKR5B4VJyqoT6q9mjnGEE3oNSbtyYfNaxsYqCLMWqGRzgFiNLP9l/?mibextid=LQQJ4d')">
            <i class="fs-4 bi bi-facebook" style="color: #0077b5;"></i></a>
        <a class="col-2" (click)="goToLink('https://wa.me/+201118004264')"> <i class="fs-4 bi bi-whatsapp"
                style="color: #3fbe4f;"></i></a>
        <a class="col-2" (click)="goToLink('https://github.com/mohamedTaha12')"> <i class="fs-4 bi bi-github"
                style="color: black;"></i></a>
        <a class="col-2" (click)="goToLink('https://www.linkedin.com/in/mohamed-taha-7b480926b')"> <i
                class="fs-4 bi bi-linkedin" style="color: #0b63bd;"></i></a>
    </div>
    <div class="contact-sec mt-4">
        <div class="d-flex">
            <div class="icon-info my-auto mx-3"> <i class="text-info fs-4 bi bi-phone"></i> </div>
            <div>
                <span class="d-block">Phone</span>
                <a href="tel:{{+201118004264}}"> +201118004264 </a>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="icon-info my-auto mx-3"> <i class="text-info fs-4 bi bi-envelope-open"></i> </div>
            <div>
                <span class="d-block">Email</span>
                <a (click)="goToLink('mt468540@gmail.com')">mt468540@gmail.com</a>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <div class="icon-info my-auto mx-3"><i class="text-info fs-4 bi bi-geo-alt"></i> </div>
            <div>
                <span class="d-block">Location</span>
                <span>maadi, cairo</span>
            </div>
        </div>
    </div>
</div>