nav {
    background-color: #fff !important;
}

ul {
    li {
        cursor: pointer;
    }
}

.active {
    color: #009bdf !important;
}

.remove-menu {
    transition: all 1.5s ease-in-out;
    display: none;
}

@media only screen and (max-width: 500px) {
    .navbar-brand {
        img {
            max-width: 150px !important;
        }
    }
}